{% extends "base.html" %} {% block content %}
<table class="table table-responsiv table-responsive">
  <caption>
    Forderungsliste
  </caption>
  <tbody>
    {% for product in products %}
    <tr>
      <td scope="row">
        <img src="{{ product.link_image }}" class="img-fluid" />
        <p class="font-weight-bold text-center">€ {{ product.price }}</p>
      </td>
      <td scope="row">
        <a href="{{ product.link }}" target="_blank">{{ product.name }}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
