{% macro create_navbar(item_tuples) %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand" href="{{ url_for('index') }}">Winglers Liste</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" id="navigation">
      {% for item in item_tuples %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for(item.0) }}">{{ item.1 }} </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
{% endmacro %}
